body {
  margin: 0;
  font-family: "Courier New", Courier, monospace, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, #000000 0%, #6488a0 100%);
}
/* -apple-system,
    BlinkMacSystemFont,  #ff5edf 0%, #04c8de 100%*/
button {
  cursor: pointer;
}

code {
  font-family: "Courier New", source-code-pro, Menlo, Monaco, Consolas;
}
